.cover-container {
  height: 100vh;
  width: 100%;
  object-fit: contain;
  box-shadow: inset 0 0 0 1020px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  object-fit: cover;
  height: 100vh;
  width: 95%;
  position: absolute;
  z-index: -1;
}

.cover-container > h1 {
  color: white;
  font-size: 100px;
}

.cover-container > p {
  margin-top: 8px;
  padding: 5vh;
  color: white;
  font-size: 32px;
}

a.cv {
  text-decoration: none;
  border: 3px solid gray;
  color: transparent;
  padding: 40px 80px;
  font-size: 28px;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 0.5s;
  position: relative;
}
a.cv:before {
  content: "Ver CV";
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}
a.cv:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}
a.cv:after {
  content: "Ver CV";
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}
a.cv:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}


/* Se usa para pantalla menor a 1080p*/
@media screen and (max-width: 1080px) {
  .cover-container > h1 {
    font-size: 50px;
    text-align: center;
  }

  .cover-container {
    background-color: rgba(0, 0, 0, 0.6);
    height: 80vh;
    width: 100%;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .video {
    object-fit: cover;
    height: 80vh;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  
  .cover-container > h1 {
    color: white;
    font-size: 50px;
  }
  
  .cover-container > p {
    margin-top: 8px;
    color: white;
    font-size: 20px;
  }
}