.Techs-container{
    background-color: black;
        display: flex;
        color: black;
        height: 40vh;
        padding: 100px 0 100px 0;
}
.Techs-title{
    margin-bottom: 30px;
    font-size: 30px;
    color: white;
    width: 40%;
    text-align: center;
    padding: 0 100px 0 100px;

}
.Techs-text {
    color:white;
    display: flex;
    flex-direction:row;
    justify-content: center;
}body {
    padding: 20px;
    font-family: sans-serif;
    background: #f2f2f2;
  }
  img {
    width: 50%; /* need to overwrite inline dimensions */
    height: auto;
    align-items: center;
  }
  h2 {
    margin-bottom: .5em;
    color: white;
  }
  .grid-container {
    display: grid;
    grid-template-columns: repeat(7, minmax(100px, 1fr));
    grid-gap: 2em;
  }
  
  
  /* hover styles */
  .location-listing {
    position: relative;
  }
  
  .location-image {
    line-height: 0;
    overflow: hidden;
  }
  
  .location-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
  }
  
  .location-title {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: rgba(90,0,10,0.4);
    color: white;
    
    /* position the text in t’ middle*/
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .location-listing:hover .location-title {
    opacity: 1;
  }
  
  .location-listing:hover .location-image img {
    filter: blur(2px);
  }
  
  